{% extends "raytrace.html" %}

{% block content %}
  <section id="science" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Polarimetry lab</h2>
          <p class="lead">I collect simulations for different projects in Herman Marshall's polarimetry lab here. Currently, only Pisox is included, but I'll add the REDSoX simulation when I review them next time and other projects as they come up.</p>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}
      
