{% extends "templates/basic.html" %}
{% set active_page = "Codes and Data" %}

{% block leftbar %}
<h4>Highlights<h4>
<ul class="menu">
  <li><a href="http://hdl.handle.net/10904/10202">XSPEC models for CTTS accretion</a></li>
  <li><a href="https://github.com/hamogu/ipythontools">IPython notebook to LaTeX</a></li>
  <li><a href="https://github.com/hamogu/COSlsf">Fitting HST/COS in Sherpa</a></li>
</ul>
{% endblock leftbar %}

{% block content %}

<h2>Codes and data</h2>
<p>In a commitment to open science I aim to make all code and all data that I use for my research openly and freely available. I am convinced that this will in the long run benefit science in general, because other researchers (i.e. you) can use the models I developed for your own observations, reproduce my results and use my observations in different contexts.</p>

<p>My goal is to make codes and data available on a persistent and long-term basis. Thus, most of this is stored in external, institutionalized archives and below you find the links to those.</p>

<h3>Code</h3>

<p>Some of my code is available at CDS (e.g. <a href="http://cdsarc.u-strasbg.fr/viz-bin/qcat?J/A+A/526/A117"> for weighting several 1D spectra of an inhomogeneously irradiated binary</a>), the rest of my code is on github:</p>

<ul class="github">
  <li> <a href="http://www.github.com/hamogu?tab=repositories">personal repositories</a> (mixed projects) </li>
  <li> <a href="http://www.github.com/chandra-marx">MARX</a> (Chandra ray trace) </li>
  <li> <a href="http://www.github.com/ysovar">YSOVAR</a> (Young Stellar Object Variability)</li>
  <li> <a href="http://www.github.com/astropy">astropy</a> (I am a regular contributor.)</li>
</ul>


<h3>Data</h3>

<p>Usually, I publish data as electronic tables with my articles. If you do not find it <a href="http://adsabs.harvard.edu/cgi-bin/nph-abs_connect?library&libname=H.M.Guenther&libid=4b8d87cedd">in my publications</a>, it may be here:</p>

<iframe src="https://dataverse.harvard.edu/iframe/hamogu" width="100%" height="500" style="padding:0px; border:0; background:url(https://dataverse.harvard.edu/resources/images/ajax-loading.gif) no-repeat 50% 50%;"></iframe>

<iframe src="https://dataverse.harvard.edu/iframe/RomanWarships" width="100%" height="500" style="padding:0px; border:0; background:url(https://dataverse.harvard.edu/resources/images/ajax-loading.gif) no-repeat 50% 50%;"></iframe>

{% endblock content %}
