
{% extends "templates/basic.html" %}
{% set active_page = "Contact" %}

{% block leftbar %}
<h4>Download<h4>
<ul class="menu">
  <li><a href="data/hansmoritzguenther_public_key.asc">PGP key</a></li>
</ul>
{% endblock leftbar %}


{% block content %}
<h2>Address, phone, etc.</h2>
Hans Moritz G&uuml;nther<br>
Massachusetts Institute of Technology<br>
Kavli Institute for Astrophysics and Space Research<br>
77 Massachusetts Avenue<br>
NE83-557<br>
Cambridge, MA 02139<br>
Off: 617-253-8008<br>
FAX: 617-253-8084<br>
<a href="mailto:hgunther@mit.edu">hgunther@mit.edu</a>
<p></p>
<a href="http://orcid.org/0000-0003-4243-2840">ORCID ID: 0000-0003-4243-2840</a>
<p></p>
My public PGP key is
available <a href="data/hansmoritzguenther_public_key.asc"> here</a><br>
(fingerprint: EE0A C3C9 714F F4CB 858C  D1AF 048A 4A03 DD53 7138).
<p></p>

<h2>How to get to my office</h2>

<div class="figcaption">
<img src="images/officedoor.png" height=200 border=0 alt="image of office
							  door"/><br>Entrance
							  to building</div>

My office is located in building NE-83, a little north east of the main MIT campus.
See this <a href="https://www.google.com/maps/@42.3660181,-71.0919485,17.5z">
google maps link</a>. 
There is a plaza in front of the building (you can see it in the google maps
link)
and the entrance is from that plaza. The "Friendly Toast" and "BonMe" are in
the same building.
Go into the main door and take the
elevator to the 5th floor. Unfortunately, we don't have a bell and the only
phone in the lobby is only for fire emergencies, but if you have a cell phone,
call my office number.

{% endblock content %}
