{% extends "templates/basic.html" %}
{% set active_page = "Research" %}

{% block leftbar %}
<h4>Content<h4>
<ul class="menu">
  <li><a href="#marx">MARX</a></li>
  <li><a href="#accretion">Accretion</a></li>
  <li><a href="#outflows">Outflows</a></li>
  <li><a href="#star formation">Star forming regions</a></li>
  <li><a href="#other">Other</a></li>
</ul>
{% endblock leftbar %}


{% block content %}

<h2>My work</h2>
<p> I am a research scientist at the <a href="http://space.mit.edu">MIT Kavli Institute for Astrophysics and Space Research</a>. I spend about half my time with research on star formation and in the other half I support the operations of the <a href="http://chandra.harvard.edu">Chandra X-ray observatory</a>. 

<h3 id="marx">MARX - Chandra raytrace</h3>
<div class="figcaption">
<img src="images/marx.png" height=100 border=0 alt="MARX logo"/><br> MARX logo</div>

<p>In 2015, I took over the responsibility for the <a href="http://space.mit.edu/CXC/marx/">MARX</a> code. MARX is a Monte-Carlo code capable of tracing X-rays from the Chandra mirrors through the gratings and onto the detectors. It is used for instrument calibration and helps in the interpretation of observations. MARX is written in C. The full MARX documentation is <a href="http://space.mit.edu/CXC/marx/">available on the web</a> and the source code repository is on <a href="https://github.com/chandra-marx">github</a>.</p>

<h3>Research</h3>
<p>I work on young, low-mass stars. Stars form in clouds of gas and dust, which contract under their own gravity. Initially, the proto-stars are hidden behind this envelope, but in later phases most of the mass concentrates in a circum-stellar disk. In this phase stars of spectral type M-F are called classical T Tauri stars (CTTS), and their more massive brethren, the A and B type progenitors are HerbigAeBe stars (HAeBe).</p>
<p>Most of my work is based on spectroscopy of these young stars observed with space telescopes like Chandra, XMM-Newton and Hubble.</p>
<p>The more we learn about early stellar evolution, the better we understand how stellar systems evolve in general and thus also how our Sun and Earth were formed.</p>
<div class="figcaption">
<img src="images/cttssketch.png" width=400 border=0 alt="gas flows around CTTS"/><br>
The gas flow around CTTS is controlled by magnetic fields (black lines). They connect star and disk, thus material can accrete onto the star. They also shape the winds and outflows from CTTS. Source: <a href="http://http://adsabs.harvard.edu/abs/2013AN....334...67G">AN 334, 67 (2013)</a>
</div>

<h3 id="accretion">Accretion</h3>
<p>In CTTS the disk does not reach down to the central star, but mass accrets onto the star in magnetically controlled funnels. I developed a model for the X-ray emission from the accretion shock. This model can explain many of the observed features for CTTS, but recent data is no longer compatible with the simple 1D approach. I use multi-wavelengths monitoring campaigns (currently I am working on data from TW Hya taken in the UV, the optical and X-rays nearly simultaneously).</p>
 
<h3 id="outflows">Outflows, winds and jets</h3>
<p>CTTS and HAeBe stars can drive powerful outflows. In close collaboration with <a href="http://www.hs.uni-hamburg.de/DE/Ins/Per/Schneider/index.html">C. Schneider</a> I perform Chandra and HST observations of these jets. In these programs we target well-known jets (DG Tau, HD 163293, HH 2), so that we can follow their time evolution.</p>

<h3 id="star formation">Star forming regions and the dust composition</h3>
<p>Looking at the X-ray absorbing column density <span class="math"><em>N</em><sub><em>H</em></sub></span> and the optical reddening <span class="math"><em>A</em><sub><em>V</em></sub></span> we can constrain the composition of the circumstellar material, because X-rays are sensitive to the gas, while reddening is caused by dust. However, different dust properties also influence the observed <span class="math"><em>A</em><sub><em>V</em></sub></span> value, which complicates the analysis. Additionally, I use spectroscopy obtained with VLT/X-Shooter to probe the circumstellar material.</p>

<h3 id="other">Other projects</h3>
<p>There are several small projects, which I developed as a spin-off or independently. Looking at CTTS and their disks, it seems natural to compare these with the properties of older stars, which are surrounded by a debris disk like <span class="math"><em>β</em></span> Pictoris or IQ Aur. Also, I have simulated the irradiation in close binary systems, in this case pre-CVs.</p> 

{% endblock content %}
