{% extends "templates/basic.html" %}
{% set active_page = "publications" %}

{% block leftbar %}
<h4>Content<h4>
<ul class="menu">
  <li><a href="#top">Articles</a></li>
  <li><a href="#conferences">Conferences</a></li>
  <li><a href="#students">Students</a></li>
  <li><a href="#books">Books</a></li>
</ul>
{% endblock leftbar %}

{% block content %}
<h2 id="top">Publications</h2>
<p>Please see the <a href="https://ui.adsabs.harvard.edu/#/public-libraries/hl-svtJoQOOIe9euUweDZQ" target="_blank">ADS</a> for a complete list including links to data and pre-print versions. </p> 

<p>Furthermore my <a href="pdfs/diplom.pdf">undergraduate thesis (Diplomarbeit)</a> and the <a href="pdfs/phd.pdf">doctoral thesis (Dissertation)</a> are available; their content is also contained in my earliest refereed articles.</p>

<h2 id="conferences">Conference contributions</h2>
<p>Below is a list of my conference contributions as first author. Where applicable, I linked the pdf of the poster or the talk slides.</p>
<ul>
<li><p>RW Auriga: Iron rich corona and
high absorbing column density
    (<a href="pdfs/18_ESO_poster.pdf">poster</a>, <a href="pdfs/18_ESO_talk.pdf">talk</a>)<br /><strong>H. M. Günther</strong>,
    T. Birnstiel, D. P. Huenemoerder, D. A. Principe, P. C. Schneider,
    S. J. Wolk, Franky Dubois, Ludwig Logie, Steve Rau, Sigfried Vanaverbeke,
    Take a closer Look, Garching, Germany, Oct 2018</p></li>
    <li><p>
<li><p>X-ray news from RW Auriga: Optical dimming associated
with iron rich corona and exceptionally high absorbing column density
    (<a href="pdfs/18_CS20_poster.pdf">poster</a>)<br /><strong>H. M. Günther</strong>,
    T. Birnstiel, D. P. Huenemoerder, D. A. Principe, P. C. Schneider,
    S. J. Wolk, Franky Dubois, Ludwig Logie, Steve Rau, Sigfried Vanaverbeke,
    Cool Stars 20, Boston, USA, Aug 2018</p></li>
    <li><p>
Ray-tracing Arcus in phase A
  (<a href="pdfs/18_SPIE_poster.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, Ralf K. Heilmann, Casey T. DeRoo, Edward Hertz, Randall K. Smith, Jörn Wilms, SPIE 2018, Paper 10699-230</p></li>
  <li><p>An x-ray transmission grating spectrometer for Lynx
  (<a href="presentations/Lynx_SPIE18/index.html">contributed
  talk</a>)<br /><strong>H. M. Günther</strong>, Ralf K. Heilman, SPIE 2018, Paper 10699-39</p></li>
  <li><p>Performance of a double tilted-Rowland-spectrometer on Arcus
  (<a href="presentations/ARCUS_SPIE17/index.html">contributed
  talk</a>)<br /><strong>H. M. Günther</strong>,  P. N. Cheimets, R. K. Heilmann, R. K. Smith, Proc. SPIE 10397, UV, X-Ray, and Gamma-Ray Space Instrumentation for Astronomy XX, 103970P</p></li>
  <li><p>REDSoX: Monte-Carlo ray-tracing for a soft x-ray spectroscopy polarimeter
  (<a href="presentations/REDSoX_SPIE17/index.html">contributed
  talk</a>)<br /><strong>H. M. Günther</strong>,  Mark Egan, Ralf K. Heilmann, Sarah N. T. Heine, Tim Hellickson, Jason Frost, Herman L. Marshall, Norbert S. Schulz, Adam Theriault-Shay, Proc. SPIE 10399, Optics for EUV, X-Ray, and Gamma-Ray Astronomy VIII, 1039917</p></li>
  <li><p>Ray-tracing critical-angle transmission gratings for the X-ray Surveyor and Explorer-size missions
  (<a href="pdfs/16_SPIE_poster.pdf">contributed
  talk</a>)<br /><strong>H. M. Günther</strong>, M. W. Bautz, R. K. Heilmann, D. P. Huenemoerder, H. L. Marshall, M. A. Nowak &amp; N. S. Schulz, Proc. SPIE 9905, Space Telescopes and Instrumentation 2016: Ultraviolet to Gamma Ray, 990556 </p></li>

  <li><p>Accretion and outflows in TW Hya
  (<a href="pdfs/15_ESTEC.pdf">contributed
  talk</a>)<br /><strong>H. M. Günther</strong>,  Exchanging mass, momentum, and ideas:
Connecting accretion and outflows in Young stellar objects, ESTEC, Netherlands, October 2015</p></li>

  <li><p>The gas-to-dust ratio in disks of classical T Tauri stars
  (<a href="pdfs/15_HarvardHeidelberg.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, P. C. Schneider,
  Harvard-Heidelberg star formation workshop, Cambridge, USA, January 2015</p></li>

  <li><p>Recollimation boundary layers as X-ray sources in young stellar jets
  (<a href="pdfs/15_AAS225.pdf">contributed
  talk</a>)<br /><strong>H. M. Günther</strong>, Z.-Y. Li, P. C. Schneider,
  AAS 225, Seattle, USA, January 2015</p></li>

  <li><p>Simultaneous Chandra and HST spectroscopy of an accreting young star (<a href="pdfs/14_Chandra.pdf">contributed talk</a>)<br /><strong>H. M. Günther</strong>, N. Brickhouse, A. Dupree, S. J. Wolk, P. C. Schneider, G. J. M. Luna, 15 years of Chandra, Boston, USA, November 2014</p></li>
  <li><p>HST FUV monitoring of TW Hya (<a href="pdfs/14_CS18.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, N. Brickhouse, A. Dupree, S. J. Wolk, P. C. Schneider, G. J. M. Luna, Cool Stars 18, Flagstaff, AZ, USA, June 2014</p></li>
  <li><p>YSOVAR: Variability in &rho; Oph (<a href="pdfs/14_AAS224.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, K. Poppenhaeger, S. J. Wolk, L. Rebull, P. Plavchan, R. Gutermuth and the YSOVAR team, AAS 224, Boston, USA, June 2014</p></li>
  <li><p>Hubble FUV monitoring of TW Hya (<a href="pdfs/14_AAS223.pdf">contributed talk</a>)<br /><strong>H. M. Günther</strong>, N. Brickhouse, A. Dupree, G. J. M. Luna, S. J. Wolk, P. C. Schneider, AAS 223, Washington D.C., USA, Jan 2014<p></li>
  <li><p>YSOVAR: Variability in &rho; Oph (<a href="pdfs/13_PPVI.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, K. Poppenhaeger, S. J. Wolk, L. Rebull, P. Plavchan, R. Gutermuth and the YSOVAR team, Protostars &amp; Planets VI, Heidelberg, Germany, July 2013</p></li>
  <li><p>Accretion, jets and winds (<a href="pdfs/CS17.pdf">invited review</a>)<br /><strong>H. M. Günther</strong>, Cool Stars 17; Barcelona, Spain, June 2012</p></li>
  <li><p>IRAS 20050+2720: Clustering of low mass stars (<a href="pdfs/12_Crete_poster.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, S. J. Wolk, B. Spitzbart, R. A. Gutermuth, J. Forbrich, N. J. Wright, L. Allen, T. Bourke, S. T. Megeath, J. L. Pipher, The Labyrinth of star formation; Crete, Greece, June 2011</p></li>
  <li><p>How can weakly magnetized stars drive fast jets? (<a href="pdfs/12_NRAO_poster.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, P. C. Schneider, Z.-Y Li; Charlottesville, USA, March 2011</p></li>
  <li><p>IRAS 20050+2720: Anatomy of a young stellar cluster (<a href="pdfs/11_AAS218_poster.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, S. J. Wolk, B. Spitzbart &amp; R. A. Gutermuth, AAS 218; Boston, USA, June 2011</p></li>
  <li><p>High-energy emission from young stellar objects (<a href="pdfs/10_Bonn.pdf">prize talk</a>)<br /><strong>H. M. Günther</strong>, Annual Meeting of the AG; Bonn, Germany, September 2010</p></li>
  <li><p>IRAS 20050+2720: Anatomy of a young stellar cluster (<a href="pdfs/CS16_poster.pdf">poster</a>)<br /><strong>H. M. Günther</strong>, S. J. Wolk, B. Spitzbart, T. L. Bourke, I. Pillitteri, J. Forbrich, R. A. Gutermuth &amp; K. DeRose, 16th Cambridge workshop on Cool Stars, Stellar Systems, and the Sun; Seattle, USA, August 2010</p></li>
  <li><p>When does accretion cease? (<a href="pdfs/10_Utrecht.pdf">contributed talk</a>)<br /><strong>H. M. Günther</strong>, High-rasolution X-ray spectroscopy; Utrecht, Netherlands, March 2010</p></li>
  <li><p>Soft X-rays from DG Tau: A physical jet model (<a href="pdfs/08_rhodes_poster.pdf">poster</a>, <a href="pdfs/08_rhodes_proc.pdf">proceedings</a>)<br /><strong>H. M. Günther</strong>, S. P. Matt &amp; Zhi-Yun Li, Protostellar jets in context, Rhodos, Greece, July 2008</p></li>
  <li><p>Young A stars: The softest Youngsters (<a href="pdfs/08_Granada.pdf">contributed talk</a>)<br /><strong>H. M. Günther</strong> &amp; J. H. M. M. Schmitt, X-ray Universe 2008, Granada, Spain, May 2008</p></li>
  <li><p>Evidence for excesses in CTTS - Outflows and accretion in X-rays and FUV (<a href="pdfs/IAUS243_poster.pdf">poster</a>, <a href="pdfs/IAUS243_proc.pdf">proceedings</a>)<br /><strong>H. M. Günther</strong>, J. Robrade &amp; J. H. M. M. Schmitt, IAUS 243, Grenoble, France, May 2007</p></li>
  <li><p>Modeling the accretion shock - Separating shock and corona on CTTS - example TW Hya and V4046 Sgr (<a href="pdfs/06_Bonn_poster.pdf">poster</a> and <a href="pdfs/06_Bonn.pdf">contributed talk</a>)<br /><strong>H. M. Günther</strong> &amp; J. H. M. M. Schmitt, Coronae of Stars and Accretion Disks; Bonn, Germany, December 2006</p></li>
  <li><p>Modeling the accretion shock - Separating shock and corona on CTTS - example TW Hya (<a href="pdfs/CS14_poster.pdf">poster</a> and <a href="pdfs/CS14_splinter.pdf">contributed talk in splinter session</a>)<br /><strong>H. M. Günther</strong> &amp; J. H. M. M. Schmitt, 14th Cambridge workshop on Cool Stars, Stellar Systems, and the Sun 14; Pasadena, USA, November 2006</p></li>
  </ul>
                        
<h2 id="students">Work by my students</h2>
<ul>
  <li>
  <p>Finding X-ray coronal cycles in low mass stars (<a href="pdfs/M_Wilson.pdf">end-of-summer report</a>) <strong> M. Wilson</strong>, H. M. Günther, K. Auchettl</p> </li>
</ul>

<h2 id="books">Published books</h2>
I collaborate on a project on Roman warships with historians. In this field, articles are less common than in astronomy and the results of these studies are published as books.
<ul>
<li><p><a href="http://d-nb.info/986585939">Projekt Römerschiff: Nachbau und Erprobung für die Ausstellung ’2000 Jahre Varusschlacht’</a><br />Ch. Schäfer, R. Aßkamp (Ed.), <strong>H. M. Günther</strong> et al., Hamburg, 2008, ISBN 978-3-7822-0977-9 (a book on a reconstructed roman warship, I worked on the technical characterization of the sailing performance, in German)</p></li>
<li><p><a href="http://d-nb.info/986585920">Lusoria
      - Ein Römerschiff im Experiment: Rekonstruktion - Tests -
      Ergebnisse</a><br />Ch. Schäfer, <strong>H. M. Günther</strong> &amp;
    A. C. Wawrzyn, Hamburg, 2008, ISBN 978-3-7822-0976-2 (similar to the above
    for a different type of vessel)</p></li>
<li><p><a href="http://d-nb.info/1101368675">Lusoria Rhenana, ein römisches
      Schiff am Rhein: neue Forschungen zu einem spätantiken Schiffstyp</a>
      Fritz Brechtel, Christoph Schäfer, Gerrit Wagener (Hrsg.) - I wrote the
      chapter on data analysis, similar to the above, in German.
</ul>
{% endblock content %}
